# SPDX-License-Identifier: GPL-2.0-only
menuconfig ARCH_BOLT
	bool "Alif Bolt SoCs"
	#depends on ARCH_MULTI_V4T || ARCH_MULTI_V5 || ARCH_MULTI_V7 || ARM_SINGLE_ARMV7M
	depends on ARM_SINGLE_ARMV7A
	select GPIOLIB
	select PINCTRL
	select PINCTRL_BOLT
	#select SOC_BUS
	select ARCH_SUPPORTS_BIG_ENDIAN
	select ARM_AMBA
	select ARM_GIC
	select ARM_GLOBAL_TIMER
	select ARM_TIMER_SP804
	#select COMMON_CLK_VERSATILE
	select GPIOLIB
	select HAVE_ARM_SCU if SMP
	select HAVE_ARM_TWD if SMP
	select HAVE_PATA_PLATFORM
	select ICST
	select NO_IOPORT_MAP
	#select PLAT_VERSATILE
	select POWER_RESET
	#select POWER_RESET_VEXPRESS
	select POWER_SUPPLY
	select REGULATOR if MMC_ARMMMCI
	select REGULATOR_FIXED_VOLTAGE if REGULATOR
	#select VEXPRESS_CONFIG
	#select VEXPRESS_SYSCFG
	#select MFD_VEXPRESS_SYSREG
	help
	  This option enables support for tiny linux based systems using Cortex
	  processor based ARM core and logic (FPGA) tiles on the Versatile
	  Express motherboard.

if ARCH_BOLT
config SOC_BOLT
	bool "Alif Bolt C8"
	#select COMMON_CLK_AT91
	#select PINCTRL_AT91
	help
	  Select this if you are using an SoC from Alif Bolt

endif
