# SPDX-License-Identifier: GPL-2.0-only
menuconfig ARCH_ENSEMBLE
	bool "Alif Devkit-Ex SoCs"
	select ARCH_SPARSEMEM_ENABLE
	select NEED_MACH_MEMORY_H
	select HIGHMEM
	select PINCTRL
	select PINCTRL_DEVKIT
	select GPIOLIB
	select ARM_AMBA
	select ARM_GIC
	select ARM_GLOBAL_TIMER
	select HAVE_PATA_PLATFORM
	select ICST
	select NO_IOPORT_MAP
	select POWER_RESET
	select POWER_SUPPLY
	help
	  This option enables support for tiny linux based systems using Cortex
	  processor based ARM core and logic (FPGA) tiles on the Versatile
	  Express motherboard.

if ARCH_ENSEMBLE
config SOC_ENSEMBLE
	bool "Alif Devkit-Ex"
	help
	  Select this if you are using an SoC from Alif Bolt

endif
